.card {
    margin-top: 10px;
    width: 210px;
    height: 310px;
    border: 1px solid #ddd;
    transition: all .2s;
    border-radius: 10px;
    justify-content: center;
}
.card-top {
    display: block;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    position:relative;
    overflow:visible;
    justify-content: space-between;
}
.card:hover {
    transform: scale(1.08);
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(9, 162, 111, 0.30);
   }
.form {
    display: grid;
    grid-template-columns: repeat(5, minmax(200px, 1fr));
    justify-content: space-between;
    margin-left: 20px;
}
.card-top-img {
    width:100%;
    height:200px;    
    object-fit: cover;
    border-radius: 10px;
}
.card-bottom {
    width: 100%;
    height: 110px;
    padding: 10px; 
}
.name {
    color: rgb(9, 162, 111);
    font-size: 15px;
    white-space: nowrap;  
    overflow: hidden;     
    text-overflow: ellipsis;  
    width: 80%; 
    display: block; 
}
.price {   
    color:  rgb(9, 162, 111);
    font-size: 15px;
    font-weight: bold;
}   
.card-bottom-btnmua {
    margin-left: 11px;
    color: white;
    background-color:  rgb(9, 162, 111);
    width: 80%;
    border-radius: 5px;
    display: inline-flex;
    height: 35px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.card-bottom-btnmua i{
    color:white;
    font-size:20px;
}
a {
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}